name: Code checks

on:
  workflow_call:
    inputs:
      ref:
        required: false
        type: string
        default: default

jobs:
  check:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10"]

    name: Check Python${{ matrix.python-version }}

    steps:
    - name: checkout current commit
      uses: actions/checkout@v2
      if: ${{ inputs.ref == 'default' }}

    - name: checkout main
      uses: actions/checkout@v2
      with:
        ref: ${{ inputs.ref }}
      if: ${{ inputs.ref != 'default' }}

    - name: install python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r requirements_dev.txt
        pip install -r requirements.txt

    - name: lint
      run: make lint

    - name: test
      run: make test

    - name: codeql_init
      uses: github/codeql-action/init@v1
      with:
        languages: 'python'

    - name: codeql_analyze
      uses: github/codeql-action/analyze@v1
